<div class="alert-partial"></div>

<h1 class="display-2 text-center mb-3">My portfolio!</h1>

<h3 class="text-center mb-4">Search stock value</h3>

<div class="row d-flex justify-content-center m-0 mb-4">
  <div class="col-6">
    <%= form_tag search_stock_path, method: :get, remote: true do %>
      <div class="input-group mb-3">
        <%= text_field_tag :stock, params[:stock], autofocus: true, placeholder: 'Enter ticker symbol', class: 'form-control' %>
        <div class="input-group-append">
          <%= button_tag type: :submit, class: 'btn btn-success' do %>
            <%= 'Search' %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="stock"></div>